{
    "rules": {
        "no-use-before-define": [0],
        "no-unused-vars": [0],
        "key-spacing": [0],
        "quotes": [0],
        "linebreak-style": [0],
        "semi": [0],
        "no-wrap-func": [0],
        "curly": [0]
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jquery": true
    },
    "globals": {
        "_": true
    }
}