@charset "UTF-8";
/* Reset Style */
html {
  overflow-y: scroll;
}

body {
  line-height: 1;
  color: #000;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
  *font-size: small;
  *font: x-small;
}

select, input, button, textarea {
  font: 99% arial,helvetica,clean,sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

pre, code, kbd, samp, tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}

.row:before, .wrap:before, .row:after, .wrap:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.row:after, .wrap:after {
  clear: both;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

body {
  box-sizing: border-box;
  background: #fff;
  color: #000;
  line-height: 1.6;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

a, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover, a:focus, a:active, a:visited:hover, a:visited:focus, a:visited:active {
  color: #000;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  max-height: 100%;
}

strong {
  font-weight: bold;
}

p {
  margin: 10px 0 0;
}

blockquote {
  padding: 5px 1em;
  border-left: 4px solid #efefef;
}

blockquote > *:first-child {
  margin-top: 0;
}

pre {
  padding: 0.4em;
  background: #f9f9f9;
  color: #644;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: .8em 0;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

ol {
  list-style: none;
  counter-reset: li;
}

ol li {
  position: relative;
  padding-left: 20px;
}

ol li:before {
  content: counter(li) ".";
  counter-increment: li;
  padding-right: 6px;
  margin-left: -20px;
}

input, textarea {
  box-sizing: border-box;
}

input[type=text],
input[type=password],
input[type=tel],
input[type=email],
input[type=number] {
  padding: 3px;
  border: 1px solid #999;
  box-shadow: none;
}

input[type=checkbox] {
  margin-right: 10px;
}

select {
  width: 100%;
  padding: 0;
  border-radius: 0;
  height: 1.6em;
  border: 1px solid #999999;
  font-size: .8em;
}

.u-align--left {
  text-align: left;
  margin-right: auto;
}

.u-align--right {
  text-align: right;
  margin-left: auto;
}

.u-align--center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.u-is--sp {
  display: none !important;
}

@media (max-width: 1029px) {
  .u-is--sp {
    display: inherit !important;
  }
}

@media (max-width: 1029px) {
  .u-is--pc {
    display: none !important;
  }
}

.u-mgt--0 {
  margin-top: 0px;
}

.u-mgt--10 {
  margin-top: 10px;
}

.u-mgt--20 {
  margin-top: 20px;
}

.u-mgt--30 {
  margin-top: 30px;
}

.u-mgt--40 {
  margin-top: 40px;
}

.u-mgb--0 {
  margin-bottom: 0px;
}

.u-mgb--10 {
  margin-bottom: 10px;
}

.u-mgb--20 {
  margin-bottom: 20px;
}

.u-mgb--30 {
  margin-bottom: 30px;
}

.u-mgb--40 {
  margin-bottom: 40px;
}

.u-mgv--0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.u-mgv--10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-mgv--20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-mgv--30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-mgv--40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-txt--strong {
  font-weight: bold;
}

.u-txt--small {
  font-size: 0.8em;
}

.u-txt--lineHeight {
  line-height: 120%;
}

.u-txt--red {
  color: #AB2520;
}

.u-txt--orange {
  color: #ffc400;
}

.row--mt {
  margin-top: 20px;
}

.container {
  width: 1030px;
  margin: auto;
}

.container .innerblock {
  padding: 1em;
}

.row {
  width: 100%;
}

.row > .col1, .row > .col2, .row > .col3, .row > .col4, .row > .col5, .row > .col6,
.row > .col7, .row > .col8, .row > .col9, .row > .col10, .row > .col11, .row > .col12 {
  float: left;
}

.row > .col1:first-child, .row > .col2:first-child, .row > .col3:first-child, .row > .col4:first-child, .row > .col5:first-child, .row > .col6:first-child,
.row > .col7:first-child, .row > .col8:first-child, .row > .col9:first-child, .row > .col10:first-child, .row > .col11:first-child, .row > .col12:first-child {
  margin-left: 0;
}

.row > .col6:nth-child(odd), .row > .col4:nth-child(3n+1),
.row > .col3:nth-child(4n+1), .row > .col2:nth-child(6n+1),
.row > .col1:nth-child(12n+1) {
  margin-left: 0;
}

.row > .col1 {
  width: 6.01942%;
  margin-left: 2.52427%;
}

.row > .col2 {
  width: 14.56311%;
  margin-left: 2.52427%;
}

.row > .col3 {
  width: 23.1068%;
  margin-left: 2.52427%;
}

.row > .col4 {
  width: 31.65049%;
  margin-left: 2.52427%;
}

.row > .col5 {
  width: 40.19417%;
  margin-left: 2.52427%;
}

.row > .col6 {
  width: 48.73786%;
  margin-left: 2.52427%;
}

.row > .col7 {
  width: 57.28155%;
  margin-left: 2.52427%;
}

.row > .col8 {
  width: 65.82524%;
  margin-left: 2.52427%;
}

.row > .col9 {
  width: 74.36893%;
  margin-left: 2.52427%;
}

.row > .col10 {
  width: 82.91262%;
  margin-left: 2.52427%;
}

.row > .col11 {
  width: 91.45631%;
  margin-left: 2.52427%;
}

.row > .col12 {
  width: 100%;
  margin-left: 2.52427%;
}

@media screen and (max-width: 1030px) {
  .container {
    width: 100%;
  }
  .inner {
    width: auto;
  }
}

.wrap > li, .wrap > div {
  float: left;
}

@media (max-width: 640px) {
  .l-sp--inner {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 1029px) {
  .l-tablet--inner {
    margin-left: 10px;
    margin-right: 10px;
  }
}


.accordion {
  margin: 10px 0;
}
.accordion__head {
  display: block;
  padding: 10px;
  cursor: pointer;
  background: #efefef;
  border: 1px solid #999;
}
.accordion__body {
  padding: 10px;
  border: 1px solid #999;
}
.accordion.is-transition .accordion__body{
  overflow: hidden;
  position: relative;
  max-height: 0;
  z-index: 10;
  -webkit-transition: max-height 0.3s 0s ease-in;
  transition: max-height 0.3s 0s ease-in;
}
.accordion.is-transition .accordion__body.js-isOpen {
  max-height: 500px; /* nearly auto */
  -webkit-transition: max-height 0.3s 0s ease-in;
  transition: max-height 0.3s 0s ease-in;
}

